.parent{
    margin: 0px;
}
.landing{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
      background-image: linear-gradient(rgb(63, 65, 103), rgb(195, 191, 191));
}
.name{
    padding-top: 20%;
    font-size: 80px;
    background-color: transparent;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: 4s anim-name ease-out 1;
}
  @keyframes anim-name {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 0.35;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

.earth{
    width: 500px;
    margin-top: 10%;
    border-radius: 50%;
    height: 500px;
    background-size: cover;
    box-shadow: -15px -15px 50px 2px #000 inset,  -15px -5px 40px 0.25px rgb(170, 170, 240) ;
    background-image: url("images/earth.jpeg");
    animation: 20s anim-spin linear alternate infinite;
}
@keyframes anim-spin {

    100%{
        background-position: 80%;
    }
}