html{   
     scroll-behavior:smooth;
}
.parent{
    margin: 0px;
}
/* Nav Style */
.nav{
    margin-left: 30%;
    z-index: 1;
    width: 100%;
    display: flex;
    position: fixed;
    color: black;
    background-color: transparent;
    align-items:center;
    justify-content: space-around;
    height: 8vh;
    font-family: 'Bitter', serif;
    animation: 4s anim-nav 1;
}
@keyframes anim-nav {
    0% {
      opacity: 0.1;
      transform: translateX(-80%);
    }
    20% {
      opacity: 0.3;
    }
    50% {
      opacity: 0.6;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.navName{
    color: rgb(63, 65, 103);
    letter-spacing: 3px;
    font-size: 30px;
}
.nav-links{
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0px;
}
.nav-links ul{
    display: flex;
    margin: 0;
    padding: 0;
    /**width: 30rem;**/
}
.nav-links.active li:hover a{
    color: rgb(195, 191, 191);
    background-color: rgb(22, 23, 38);
    font-weight: bold;
    cursor: pointer;
}

.nav-links.active a{
    color: rgb(22, 23, 38);
    text-decoration: none;
    justify-content: center;
    letter-spacing: 3px;
    display: block;
    padding: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 16px;
}
.nav-links a{
    color: rgb(195, 191, 191);
    text-decoration: none;
    justify-content: center;
    letter-spacing: 3px;
    display: block;
    padding: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 16px;
}
nav.active .nav-links li:hover a{
    color: #E6E6FA;
    background-color: #454545;
    font-weight: bold;
    cursor: pointer;
}
.nav-links li{
    width: 100%;
    list-style: none;
}
.nav-links li:hover a{
    color: black;
    background-color: lightgrey;
    font-weight: bold;
    cursor: pointer;
}

.toggle{
    position: absolute;
    top: 1.5rem;
    margin-left: 30%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    color: beige;
}
.toggle .bar{
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.toggle:hover{
    cursor: pointer;
}
@media (max-width:1170px) {
    .nav{
            margin-left: 26%;
        }
}
@media (max-width:1070px) {
    .nav{
            margin-left: 24%;
        }
}


@media (max-width:950px) {
    .toggle{
        display: flex;
        margin-left: 90%;
    }
    .nav-links{
        background-color: black;
        flex-direction:column;
        display: none;
        width: 100%;
    }
    .nav{
        flex-direction: column;
        width: 100%;
        margin: 0%;
    }
    .nav-links ul{
        flex-direction: column;
        width: 100%;
    }
    .nav-links li {
        width: 100%;
        text-align: center;
    }
    .nav-links li a{
        width: 100%;
        padding-left: 0px;
        padding-bottom: 1.5rem;
    }
    .nav-links li:hover a{
        color: #E6E6FA;
        font-weight: bold;
        background-color: #454545;
    }
    .navName.active{
        padding-top: 2.5rem;
        height: 70px;
        align-items: center;
        margin: 0;
    }
    .nav-links.active{
        padding-left: 0%;
        text-align: center;
        width: 100%;
        display: flex;
    }
    .nav.active{
        height: 40vh;
        background-color: black;
    }
    .image{
        display: none;
    }
}

/** Landing Div style**/

.landing{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgb(22, 23, 38);
}

.name{
    margin-left: 10%;
    padding-top: 10%;
    font-size: 80px;
    background-color: transparent;
    color: rgb(195, 191, 191);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: 1s anim-name-in 1;
    animation-delay: 0s;
}
  @keyframes anim-name-in {
    0% {
      opacity: 0;
      transform: translateX(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 0.35;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.name.active{
    animation: 2s anim-name-out 1;
    animation-delay: 0s;
    opacity: 0;
}
@keyframes anim-name-out {
    0% {
      opacity: 100;
    }
    20% {
      opacity: 80;
    }
    50% {
      opacity: 0.35;
    }
    100% {
      opacity: 0;
      transform: translateX(80%);
    }
  }
.specialWords{
    font-size: 150px;
    color: rgb(119, 50, 50);

}

.separator{
    height: 1vh;
    background-color:rgb(119, 50, 50);
}
/** About Div style**/

.about{
    background-color: rgb(195, 191, 191);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.imageDiv{
    height: 30vh;
    width: 30vh;
    background-color: aqua;
}
.aboutTextDiv{
    align-items: center;
    margin-top: 5%;
    height: 30vh;
    width: 80vh;
    font-size: 35px;
    background-color: transparent;
    color: rgb(22, 23, 38);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: 1s anim-aboutText-out 1;
    animation-delay: 0s;
    opacity: 0;
}
@keyframes anim-aboutText-out {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(-110%);
    }
}

.aboutTextDiv.active{
    align-items: center;
    margin-top: 5%;
    height: 30vh;
    width: 80vh;
    opacity: 1;
    font-size: 35px;
    background-color: transparent;
    color: rgb(22, 23, 38);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: 1s anim-aboutText 1;
}
@keyframes anim-aboutText {
    0% {
      opacity: 0;
      transform: translateX(-110%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 0.35;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
.myImg{
    border-style: solid;
    border-width: 5px;
    border-color: rgb(22, 23, 38);
    margin-top:5%;
    height: 80%;
    opacity: 0;
    border-radius: 30%;
    animation: 1s anim-image-out 1;
    animation-delay: 0s;
}
@keyframes anim-image-out {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0.35;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
      transform: translateX(50%);
    }
}

.myImg.active{
    border-style: solid;
    border-width: 5px;
    border-color: rgb(22, 23, 38);
    margin-top:5%;
    height: 80%;
    opacity: 1;
    border-radius: 30%;
    animation: 1s anim-image 1;
}
@keyframes anim-image {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 0.35;
    }
    100% {
      opacity: 1;
    }
}

.aboutTitle{
    width: 100vh;
    font-size: 80px;
    padding-left: 15%;
    color: rgb(119, 50, 50);
}
.smallSpecialWords{
    font-size: 40px;
    color: rgb(119, 50, 50);
}
.aboutHr{
    border:0;
    height:5px;
    width: 40%;
    margin-left: 24%;
    background:rgb(22, 23, 38);
}
/** Projects Div style**/
.projects{
    background-color: rgb(22, 23, 38);
    height: 400vh;
    width: 100%;
}
.p1{
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: space-around;
}
@media (max-width:900px) {
.p1{
    position: relative;
    display:block;
}
}
.p1Left{
    height: 45vh;
    width: 45vw;
}
.p1ImgDiv{
    height: 35vh;
    width: 100%;
}
.p1ImgDiv img{
    border-style: solid;
    margin-left: 5%;
    position: absolute;
    height: 35vh;
    width: 38vw;
    border-radius: 5px;
    border-color: rgb(195, 191, 191);
    ;
}
.p1ImgBtn{
    width: 100%;
    margin-top: 1.5%;
    text-align: center;
}
.switchDot{
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: rgb(195, 191, 191);
    border-radius: 50%;
    display: inline-block;  
}
.dotActive, .switchDot:hover{
    background-color: rgb(119, 50, 50);
}

.projectText{
    margin: 0px;
    font-size: 38px;
    background-color: transparent;
    color: rgb(195, 191, 191);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ProjectSpecialWords{
    font-size: 43px;
    color: rgb(119, 50, 50);
}
.p1Text{    
    margin-left: 6%;
}

.projectTitle{
    margin: 0px;
    padding-top: 1%;
    height: 20vh;
    font-size: 90px;
    text-align: center;
    color: rgb(195, 191, 191);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.projectsSeparator{
    margin-left: 31%;
    margin-top: 0px;
    background-color: rgb(119, 50, 50);
    border:0;
    height:5px;
    width: 35%;
}
.projectTitle hr{
    margin-top: 1%;
    margin-left: 42%;
    width: 15%;
}
.github_Link{
    color: rgb(195, 191, 191);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 38px;
}